# Ignore virtual environment
venv/

# Ignore compiled files
__pycache__/
*.pyc

# Ignore database and data files
*.db
*.csv
pipeline.log

# Ignore Streamlit cache
.streamlit/

# Ignore system files
.DS_Store
